#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.products-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.product {
  flex: 1;
  border-radius: 4px;
  background: rgb(238, 232, 232);
  padding: 24px;
  width: 360px;
  max-width: 80%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.product h2 {
  color: rgb(58, 56, 56);
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 24px;
}

.product img {
  width: 280px !important;
}